@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: rgb(2, 2, 24);
    
    --foreground: #ededed;
  }
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: rgb(2, 2, 24);
      --foreground: #ededed;
    }
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  /* button:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9999px;
    box-shadow: 0 0 15px 5px rgba(226, 203, 255, 0.7);
    z-index: -1;
  } */
  
  
  *::-webkit-scrollbar {
    width: 16px;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 8px;
  }
  
  *::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #555;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
  html {
    scrollbar-gutter: stable;
  }
  html {
    overflow: auto;
  }
  