.header{
    background-color: rgba(2, 2, 24, 0.813);
    
}
.main{
    
    background-image: radial-gradient(circle at 40%,rgba(67, 67, 216, 0.24) ,rgba(2, 2, 24, 0.135) 50%),radial-gradient(circle at 70%,rgba(250, 212, 168, 0.158) ,rgba(2, 2, 24, 0.226) 50%);
    
    background-attachment: fixed;
}

.mainin{
    /* background-color: yellow    ; */
    background-size: 10%;
    background-image: url('../../../../public/grid.svg');
    background-attachment: fixed;
    
    
}

.anim_fadeup{
    transform: translateY(20px);
    opacity: 0;
    animation-name: fadeup;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeup {
    from{
        transform: translateY(20px);
    opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;

    }
}

.introimage{
    background-color: rgba(2, 2, 24);
    transform:perspective(400px) rotateX(10deg) scaleX(0.9) scaleY(0.9);
}
.animateimage{
    transform:perspective(400px) rotateX(10deg) scaleX(0.9) scaleY(0.9);
    animation-name: wakeup;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}




@keyframes wakeup {
    
    0%{
        transform:perspective(400px) rotateX(10deg) scaleX(0.9) scaleY(0.9);
    }
    100%{
        transform:perspective(400px) rotateX(0deg);
    }
}

